* {
  margin: 0;
  padding: 0;
}

#app-camara {
  min-height: 500px;
  display: flex;
  flex-wrap: wrap;
}
#contenedor-camara {
  display: flex;
  flex-direction: column;
  border: 1px solid red;
  flex-grow: 3;
}

#visualizacion {
  color: white;
  border: 1px solid black;
  background-color: black;
  min-height: 450px;
}

#contenedor-ajustes {
  border: 1px solid blue;
  flex-grow: 1;
  padding: 25px;
  display: flex;
  flex-direction: column;
}

#notificaciones {
  margin-top: 50px;
}
.titulo {
  font-family: 'Poppins', sans-serif;
  text-align: center;
}
.checkbox {
  font-family: 'Poppins', sans-serif;
  width: 50px;
  text-align: right;
}
label {
  font-family: 'Poppins', sans-serif;
}
select {
  font-family: 'Poppins', sans-serif;
  height: 25px;
  width: 100px;
}

#acciones {
  border: 1px solid black;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

#iniciar, #detener,
#esta_detectado {
  width: 150px;
  height: 40px;
  font-weight: bold;
  margin: 2px;
}

#con-sonido {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background-image: url(../assets/volume.png);
  background-size: contain;
  margin: 2px;
}

#sin-sonido {
  width: 40px;
  height: 40px;
  border-radius: 5px;
  background-image: url(../assets/mute.png);
  background-size: contain;
  margin: 2px;
}

.detectado {
  background-color: red;
  color: white;
  font-weight: bold;
}

.no-detectado {
  background-color: greenyellow;
  font-weight: bold;
}
